* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background: rgba(38, 54, 45, 1);
}

// Navigation Bar
@import "./components/_navigation.scss";

// SCSS for body of index page
@import "./components/_index_body.scss";

// Tiles
@import "./components/_tiles.scss";

// SCSS for footer of index page
@import "./components/_footer.scss";

// SCSS for contact page
@import "./components/_contact.scss";

// SCSS for about me page
@import "./components/_about.scss";

// SCSS for projects page
@import "./components/_projects.scss";

// SCSS for blog page
@import "./components/_blog.scss";

// Text sizes
@import "./components/_text_styles.scss";


