 // SCSS for blog page

//  main blog page shape style
@mixin blog_shape {
        background-color: rgba(38, 54, 45, 0.5);
        border-radius: 20px;
    }

// mobile view (320px)
@media (min-width:320px) {

// mobile - blog page style
@mixin blogpages_shape {
        background-color: rgba(38, 54, 45, 0.5);
        border-radius: 20px;
        width: 80%;
        padding: 1rem;
        margin-top: 1rem;
    
    }
    
// mobile - blog page layout
@mixin blog_frame {
        display: grid;
        gap: 2rem;
        grid-template-columns: 35% 65%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    // mobile - main blog page positioning
.blog_posts {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    // mobile - blog 1 style and positioning 
.blog1 {
    @include blog_shape;
    box-shadow: 0 0 30px hsl(322deg 100% 31%);
    
    img {
        width: 7.1rem;
        height: 7.1rem;
        margin-left: 16%;
    }
    }

    // mobile - blog 2 style and positioning 
.blog2 {
    @include blog_shape;
    box-shadow: 0 0 30px  hsl(39deg 100% 50%);
    img {
        width: 6.0rem;
        height: 6.0rem;
        margin-left: 22%;
        }
        }

        // mobile - blog 3 style and positioning 
.blog3 {
    @include blog_shape;
    box-shadow: 0 0 30px  hsl(66deg 100% 48%);
    img {
        width: 8.7rem;
        height: 8.7rem;
        margin-left: 1rem;
        margin-top: -0.8rem;
        }
        }

        // mobile - blog 4 style and positioning 
.blog4 {
    @include blog_shape;
    box-shadow: 0 0 30px  hsl(158deg 100% 46%);
        img {
        width: 6.8rem;
        height: 6.8rem;
        margin-left: 1.5rem;
        padding-top: 0.5rem;
         }
        }

        // mobile - blog 5 style and positioning 
.blog5 {
    @include blog_shape;
    box-shadow: 0 0 30px  hsl(180deg 73% 44%);
        img {
        width: 6.1rem;
        height: 6.1rem;
        margin-left: 2.1rem;
        padding-top: 0.5rem;
        }
        }
    }

    // mobile - blog 1 page style and positioning 
.blog1_layout {
    @include blog_frame;
    .blog1_img {
        width: 9rem;
        height: 9rem;
        margin-top: 2rem;
        margin-right: 1%;
        }
    .about_blog1 {
        @include blogpages_shape; 
        box-shadow: 0 0 30px hsl(322deg 100% 31%);
        }
}

// mobile - blog 2 page style and positioning 
.blog2_layout {
    @include blog_frame;
    .blog2_img {
        width: 9rem;
        height: 9rem;
        margin-top: 2rem;
        margin-right: 1%;
        }
    .about_blog2 {
        @include blogpages_shape; 
        box-shadow: 0 0 30px  hsl(39deg 100% 50%);
        }
}

// mobile - blog 3 page style and positioning 
.blog3_layout {
    @include blog_frame;
    .blog3_img {
        width: 9rem;
        height: 9rem;
        margin-top: 2rem;
        margin-right: 1%;
        }
    .about_blog3 {
        @include blogpages_shape;
        box-shadow: 0 0 30px  hsl(66deg 100% 48%);  
        }
}

// mobile - blog 4 page style and positioning 
.blog4_layout {
    @include blog_frame;
    .blog4_img {
        width: 9rem;
        height: 9rem;
        margin-top: 2rem;
        margin-right: 1%;
        }
    .about_blog4 {
        @include blogpages_shape; 
        box-shadow: 0 0 30px  hsl(158deg 100% 46%);
        }
}

// mobile - blog 5 page style and positioning 
.blog5_layout {
    @include blog_frame;
    .blog5_img {
        width: 9rem;
        height: 9rem;
        margin-top: 2rem;
        margin-right: 1%;
        }
    .about_blog5 {
        @include blogpages_shape; 
        box-shadow: 0 0 30px  hsl(180deg 73% 44%);
        }
}
}

// tablet view (820px)
@media (min-width:820px) {

    // tablet - blog page style
@mixin blogpages_shape {
        background-color: rgba(38, 54, 45, 0.5);
        border-radius: 20px;
        width: 80%;
        padding: 1rem;
        margin-top: 1rem;
    
    }
    
    // tablet - blog page layout
@mixin blog_frame {
        display: grid;
        gap: 1rem;
        grid-template-columns: 40% 60%;
        width: 80%;
        margin-left: 15%;
    }

    // tablet - main blog page positioning
    .blog_posts {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    
        // tablet - blog 1 style and positioning
    .blog1 {
        @include blog_shape;
        box-shadow: 0 0 30px hsl(322deg 100% 31%);
        img {
            width: 10rem;
            height: 10rem;
            margin-left: 30%;
        }
        }
    
         // tablet - blog 2 style and positioning
    .blog2 {
        @include blog_shape;
        box-shadow: 0 0 30px  hsl(39deg 100% 50%);
        img {
            width: 10rem;
            height: 10rem;
            margin-left: 30%;
        }
        }
    
         // tablet - blog 3 style and positioning
    .blog3 {
        @include blog_shape;
        box-shadow: 0 0 30px  hsl(66deg 100% 48%);
        img {
            width: 10rem;
            height: 10rem;
            margin-left: 30%;
        }
        }
    
         // tablet - blog 4 style and positioning
    .blog4 {
        @include blog_shape;
        box-shadow: 0 0 30px  hsl(158deg 100% 46%);
        img {
            width: 10rem;
            height: 10rem;
            margin-left: 30%;
            margin-bottom: -3%;
        }
        }
    
         // tablet - blog 5 style and positioning
    .blog5 {
        @include blog_shape;
        box-shadow: 0 0 30px  hsl(180deg 73% 44%);
        img {
            width: 10rem;
            height: 10rem;
            margin-left: 30%;
            margin-bottom: -3%;
            }
            }
        }
    
         // tablet - blog 1 page style and positioning 
    .blog1_layout {
        @include blog_frame;
        .blog1_img {
            width: 12rem;
            height: 12rem;
            margin-top: 1rem;
            margin-left: 20%;
            }
        .about_blog1 {
            @include blogpages_shape; 
            box-shadow: 0 0 30px hsl(322deg 100% 31%);
            }
    }
    
     // tablet - blog 2 page style and positioning 
    .blog2_layout {
        @include blog_frame;
        .blog2_img {
            width: 12rem;
            height: 12rem;
            margin-top: 1rem;
            margin-left: 20%;
            }
        .about_blog2 {
            @include blogpages_shape; 
            box-shadow: 0 0 30px  hsl(39deg 100% 50%);
            }
    }
    
     // tablet - blog 3 page style and positioning 
    .blog3_layout {
        @include blog_frame;
        .blog3_img {
            width: 12rem;
            height: 12rem;
            margin-top: 1rem;
            margin-left: 20%;
            }
        .about_blog3 {
            @include blogpages_shape;
            box-shadow: 0 0 30px  hsl(66deg 100% 48%);
            }
    }
    
     // tablet - blog 4 page style and positioning 
    .blog4_layout {
        @include blog_frame;
        .blog4_img {
            width: 12rem;
            height: 12rem;
            margin-top: 1rem;
            margin-left: 20%;
            }
        .about_blog4 {
            @include blogpages_shape; 
            box-shadow: 0 0 30px  hsl(158deg 100% 46%);
            }
    }
    
     // tablet - blog 5 page style and positioning 
    .blog5_layout {
        @include blog_frame;
        .blog5_img {
            width: 12rem;
            height: 12rem;
            margin-top: 1rem;
            margin-left: 20%;
            }
        .about_blog5 {
            @include blogpages_shape; 
            box-shadow: 0 0 30px  hsl(180deg 73% 44%);
            }
    }
    }

// desktop view (992px)
@media (min-width:992px) {

    // desktop - blog page style
        @mixin blogpages_shape {
                background-color: rgba(38, 54, 45, 0.5);
                border-radius: 20px;
                width: 80%;
                padding: 1rem;
                margin-top: 1rem;
            
            }
            
    // desktop - blog page layout
        @mixin blog_frame {
                display: grid;
                gap: 1rem;
                grid-template-columns: 40% 60%;
                width: 80%;
                margin-left: 15%;
            }
        
            // desktop - blog page layout
            .blog_posts {
                display: grid;
                gap: 3%;
                grid-template-columns: 1fr 1fr;
                width: 85%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 6rem;
                margin-top: 2rem;
            
            // desktop - blog 1 style and positioning 
            .blog1 {
                @include blog_shape;
                box-shadow: 0 0 40px hsl(322deg 100% 31%);
            
                img {
                    width: 14rem;
                    height: 14rem;
                    margin-left: 35%;
                }
                }
            
                 // desktop - blog 2 style and positioning 
            .blog2 {
                @include blog_shape;
                box-shadow: 0 0 40px  hsl(39deg 100% 50%);

                img {
                    width: 14rem;
                    height: 14rem;
                    margin-left: 35%;
                }
                }
            
                 // desktop - blog 3 style and positioning 
            .blog3 {
                @include blog_shape;
                box-shadow: 0 0 40px  hsl(66deg 100% 48%);

                img {
                    width: 14rem;
                    height: 14rem;
                    margin-left: 35%;
                }
                }
   

                 // desktop - blog 4 style and positioning 
            .blog4 {
                @include blog_shape;
                box-shadow: 0 0 40px  hsl(158deg 100% 46%);
            
                img {
                    width: 14rem;
                    height: 14rem;
                    margin-left: 35%;
                    padding-top: 0.5rem;
                }
                }
            
                 // desktop - blog 5 style and positioning 
            .blog5 {
                @include blog_shape;
                box-shadow: 0 0 40px  hsl(180deg 73% 44%);
            
                img {
                    width: 14rem;
                    height: 14rem;
                    margin-left: 35%;
                    padding-top: 0.5rem;
                    }
                    }
                }
            
                // desktop - blog 1 page style and positioning 
            .blog1_layout {
                @include blog_frame;
                margin-bottom: 3rem;
                .blog1_img {
                    width: 19rem;
                    height: 19rem;
                    margin-top: -0.2rem;
                    margin-left: 20%;
                    }
                .about_blog1 {
                    @include blogpages_shape; 
                    box-shadow: 0 0 30px hsl(322deg 100% 31%);
                    }
            }
            
            // desktop - blog 2 page style and positioning 
            .blog2_layout {
                @include blog_frame;
                margin-bottom: 3rem;
                .blog2_img {
                    width: 19rem;
                    height: 19rem;
                    margin-top: 1rem;
                    margin-left: 20%;
                    }
                .about_blog2 {
                    @include blogpages_shape; 
                    box-shadow: 0 0 30px  hsl(39deg 100% 50%);
                    }
            }
            
            // desktop - blog 3 page style and positioning 
            .blog3_layout {
                @include blog_frame;
                margin-bottom: 3rem;
                .blog3_img {
                    width: 19rem;
                    height: 19rem;
                    margin-top: 1rem;
                    margin-left: 20%;
                    }
                .about_blog3 {
                    @include blogpages_shape;
                    box-shadow: 0 0 30px  hsl(66deg 100% 48%);
                    }
            }
            
            // desktop - blog 4 page style and positioning 
            .blog4_layout {
                @include blog_frame;
                margin-bottom: 3rem;
                .blog4_img {
                    width: 19rem;
                    height: 19rem;
                    margin-top: 1rem;
                    margin-left: 20%;
                    }
                .about_blog4 {
                    @include blogpages_shape; 
                    box-shadow: 0 0 30px  hsl(158deg 100% 46%);
                    }
            }
            
            // desktop - blog 5 page style and positioning 
            .blog5_layout {
                @include blog_frame;
                margin-bottom: 3rem;
                .blog5_img {
                    width: 19rem;
                    height: 19rem;
                    margin-top: 1rem;
                    margin-left: 20%;
                    }
                .about_blog5 {
                    @include blogpages_shape; 
                    box-shadow: 0 0 30px  hsl(180deg 73% 44%);
                    }
            }

            // hover effect over blogs on main blog page
            .blog_posts a.blog_link:hover{
                -webkit-filter: brightness(70%);
                filter: brightness(70%)
            }
            
            }

