// footer for index page

footer {
    display: inline-block;
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: 30%;
    margin-bottom: 0%;
    text-align: center;
    /* background-color:azure; */
    /* border: 1px solid red; */
    }
    
.copyright {
        margin-top: 0.5rem;
    }
    