 // SCSS for navigation bar

//  hover button effect over 'contact'
button:hover {
    background-color: green;
    color: white;
}

// link colour
a:link, a:visited {
    color: white;
}

.header a.nav_link:hover{
    color: green;
}

// hover effect over logo
.header a#logo:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%)
}

// header background color
@mixin header_color {
    background: rgb(38,54,45);
background: linear-gradient(90deg, rgba(38,54,45,1) 0%, rgba(50,54,60,1) 100%);;
}

// mobile view (320px)
@media (min-width:320px) {


// mobile - logo img style
#logo {
    cursor: pointer;
    display: flex;
    justify-content:flex-start;
    width: 2.1rem;
    height: 2.1rem;
    margin-left: 2%;
}

// mobile - style for navigation bar list
li {
    list-style: none;
    display: inline-block;
    align-items: center;
    padding: 0 0.8rem;
    transition: all .3s ease 0s;
    overflow-wrap: nowrap;
}

// mobile - style for navigation bar list and button
li,button {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 500;
    font-size: 0.8rem;
    color: white;
}

// mobile - style for button
button {
    padding: 0.3rem 0.3rem;
    background-color: rgb(75, 198, 140);
    border-radius: 5rem;
    cursor: pointer;
    transition: all .3s ease 0s;
}

// mobile - positioning of contents in nav bar
.header {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    @include header_color;
}

// mobile - positioning of conact button
.header_contact { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include header_color;
    margin-right: 2%;
    width: 100%;
}
}

// tablet view (820px)
@media (min-width:820px) {
    
    // tablet - logo img style
    #logo {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        width: 3.1rem;
        height: 3.1rem;
        margin-left: 2%;
    }
    
    // tablet - style for navigation bar list and button
    li,button {
        font-family: 'Noto Sans Mono', monospace;
        font-weight: 500;
        font-size: 1.2rem;
        color: white;
    }
    
    // tablet - style for button
    button {
        padding: 0.3rem 0.3rem;
        background-color: rgb(75, 198, 140);
        border-radius: 5rem;
        cursor: pointer;
        transition: all .3s ease 0s;
        margin-left: 16%;
    }

    // tablet - positioning of contents in nav bar
    .header {
        display: flex;
        align-items:center;
        @include header_color;
    }

    // tablet - positioning of conact button
    .header_contact { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include header_color;
        margin-right: 2%;
        width: 100%;
    }
}

// desktop view (992px)
@media (min-width:992px) {
    
    // desktop - logo img style
    #logo {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        width: 5rem;
        height: 5rem;
        margin-left: 2%;
        -webkit-filter: brightness(100%);
        filter: brightness(100%)
    }
    
// desktop - style for navigation bar list and button
    li,button {
        font-family: 'Noto Sans Mono', monospace;
        font-weight: 500;
        font-size: 1.8rem;
        color: aliceblue;
    }
    
    // desktop - style for button
    button {
        padding: 0.3rem 0.3rem;
        background-color: rgb(75, 198, 140);
        border-radius: 5rem;
        cursor: pointer;
        transition: all .3s ease 0s;
        margin-left: 12%;
    }

    // desktop - positioning of contents in nav bar
    .header {
        display: flex;
        align-items:center;
        @include header_color;
    }

    // desktop - positioning of conact button
    .header_contact { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include header_color;
        margin-right: 2%;
        width: 100%;
    }
}