 // SCSS for moving tiles

// mobile view (320px)
@media (min-width:320px) {

.tiles {
    position: relative;
    height: 1rem;
    overflow: hidden;
    background: rgba(38, 54, 45, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    i {
        position: relative;
        width: 1rem;
        height: 1rem;
        background: rgba(38, 54, 45, 1);
    }
}

    section i:nth-child(5n+1) {
        animation: animate 2s linear infinite, animatetile 7s linear infinite;
        animation-delay: calc(-1s * var(--i));
    }
    
    section i:nth-child(5n+2) {
        animation: animate 3s linear infinite, animatetile 7s linear infinite;
        animation-delay: calc(-2s * var(--i));
    }
    
    section i:nth-child(5n+3) {
        animation: animate 4s linear infinite, animatetile 7s linear infinite;
        animation-delay: calc(-2.5s * var(--i));
    }
    
    @keyframes animate {
    0%,20% {
        background: rgba(38, 54, 45, 1);
    }
    60% {
        background: rgb(167, 209, 167);
    }
    80%,100% {
        background: rgba(38, 54, 45, 1);
    } 
}
    
    @keyframes animatetile {
        0% {
            filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(180deg);
        }
    }
    
    .tiles2 {
        @extend .tiles;
        height: 3rem;
        margin-top: 2rem;
    }

    .tiles3 {
        @extend .tiles;
        height: 4rem;
        margin-top: 0.8rem;
    }

    .tiles4 {
        @extend .tiles;
        height: 8rem;
        margin-top: 0.8rem;

    }

    .tiles_contact {
        @extend .tiles;
        height: 6rem;
        margin-top: 0.8rem;
    }
}
